<!DOCTYPE html>
<html>

<head>
  <link rel="stlesheet" href="styles.css">

</head>


<body>
    <!-- <h1>welcome</h1>
    <p>hello <%=locals.name %></p> -->
    <main>
        <form method="post" action="/contact">
         <input type="text" name="name">
         <input type="email" name="email">
         <button type="submit">send message</button>

        </form>
    </main>


</body>

<script src="script.js"></script>
</html>