
<!DOCTYPE html>
<html>

<head>
  

</head>


<body>
    <!-- <h1>welcome</h1>
    <p>hello <%=locals.name %></p> -->
    <main>
        <h1>hII <%=name%> </h1>
        <form action="/logout" method="get">
            
        
         <button type="submit">logout</button>

        </form>
    </main>


</body>

<script src="script.js"></script>
</html>